.popup__save-text {
    position: absolute;
    max-width: 109px;
    min-height: 18px;
    margin: 0 auto;
    padding: 0;
    top: 251px;
    left: 161px;
    bottom: 61px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 320px) {
    .popup__save-text {
        width: 74px;
        height: 18px;
        top: 265px;
        left: 104px;
        bottom: 39px;
        font-size: 14px;
        line-height: 17px;

    }
}