.popup__line-title {
    position: absolute;
    width: 358px;
    height: 0;
    top: 138px;
    left: 36px;
    margin: 0;
    opacity: 0.2;
    border: 1px solid #000000;
}

@media screen and (max-width: 320px) {
	.popup__line-title {
        width: 238px;
        left: 22px;
        top: 149px;
    }
}