.popup__line-title {
    width: 358px;
    height: 0;
    margin: 0;
    margin-top: 13px;
    opacity: 0.2;
    border: 1px solid #000000;
}

@media screen and (max-width: 320px) {
	.popup__line-title {
        width: 238px;
    }
}