.popup__save {
    position: absolute;
    width: 358px;
    height: 50px;
    top: 237px;
    left: 36px;
    right: 36px;
    background: #000000;
    border-radius: 2px;
    border: 0;
    opacity: 1;
    transition: transform  0.5s linear;
}

.popup__save:hover {
    opacity: 0.8;
    
}

@media screen and (max-width: 320px) {
	.popup__save {
        width: 238px;
        height: 46px;
        left: 22px;
        top: 251px;
    }
}