.elements {
    max-width: 880px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    gap: 20px 15px;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
}

@media screen and (max-width: 320px) {
	.elements {
        width: 282px;
        margin-top: 36px;
        margin-left: 19px;
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(1, auto);
        gap: 20px;
    }
}