.profile__add {
    margin: 0;
    margin-left: 244px;
    padding: 0;
    opacity: 1;
    transition: transform  0.5s linear;
}

.profile__add:hover {
    opacity: 0.5;
  }

@media screen and (max-width: 890px) {
	.profile__add {
        margin-left: 0;
    }
}

@media screen and (max-width: 320px) {
	.profile__add {
        margin-top: 36px;
        margin-left: 19px;
        margin-right: 19px;
    }
}