.popup__close {
    position: absolute;
    width: 32px;
    height: 32px;
    bottom: 338px;
    left: 438px;
    margin: 0;
    padding: 0;
    background-image: url(../../../images/close.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    opacity: 1;
    transition: opacity  0.5s linear;
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;   
}

@media screen and (max-width: 540px) {
	.popup__close {
        max-width: 20px;
        height: 20px;
        bottom: 346px;
        left: 262px;
        background-image: url(../../../images/close_mobile.svg);
    }
}