.footer {
    max-width: 318px;
    margin: 0 auto;
    padding: 0;
    margin-left: 200px;
    margin-top: 66px;
    margin-bottom: 60px;
}

@media screen and (max-width: 320px) {
	.footer {
        max-width: 282px;
        margin-left: 19px;
        margin-top: 48px;
        margin-bottom: 36px;
    }
}