.popup__line-subtitle {
    width: 358px;
    margin: 0;
    margin-top: 13px;
    opacity: 0.2;
    border: 1px solid #000000;
}

@media screen and (max-width: 320px) {
	.popup__line-subtitle {
        width: 238px;
        left: 22px;
        top: 206px;
    }
}